:root {
    --subtle-shadow: 0px 2px 5px 1px rgba(0, 0, 0, 0.1);
}

* {
    box-sizing: border-box;
}

body {
    font-family: Arial;
    padding: 10px;
    background: #f1f1f1;
}

header {
    text-align: center;
    background: #ff9234;
    border-radius: 0.5em;
}

div.header {
    padding: 20px;
}

div.header>h1 {
    font-size: 40px;
}

ul.post-list {
    list-style-type: circle;
    padding-left: 20px;
}

.link {
    text-decoration: none;
    color: dodgerblue;
}


/*paleta de colores
*d92027 red; 
ff9234 orange; 
ffcd3c yellow; 
35d0ba*/


/* NAVBAR */

nav {
    overflow: hidden;
    background-color: dodgerblue;
    border-radius: 0 0 0.5em 0.5em;
    display: flex;
}

nav>a {
    width: auto;
    color: #f2f2f2;
    text-align: center;
    padding: 1em 2em;
    text-decoration: none;
    transition: 0.5s;
}

nav>a:hover {
    background-color: black;
}

.unorder {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
}

.lis a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
    transition: width 0.5s;
    width: 100px;
}

.lis a:hover {
    background-color: #d92027;
    width: 150px;
}


/* FLEX LAYOUT */

.container {
    display: flex;
}

.centercolumn {
    flex: 3;
    padding-left: 10px;
    padding-right: 10px;
}

.rightcolumn {
    flex: 2;
    padding-left: 20px;
}


/* POST */

.post-title {
    font-size: 2em;
}

.post-age {
    color: grey;
}

.login-link {
    margin-left: auto;
    background-color: black;
}

.responsive-img {
    background-color: #aaa;
    width: 100%;
}

.card {
    background-color: #ffcd3c;
    padding: 20px;
    margin-top: 20px;
    border-radius: 0.5em;
    box-shadow: var(--subtle-shadow);
}

.formulario {
    background-color: rgb(255, 255, 255);
    padding: 30px;
    margin-top: 20px;
    border-radius: 0.5em;
    box-shadow: var(--subtle-shadow);
}

.box {
    padding: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.row {
    display: block;
    padding: 2%;
    width: 350px;
    border-color: rgb(133, 131, 131);
    border-radius: 7px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.ref {
    display: block;
    border: none;
    padding: 5%;
    width: 350px;
    color: rgb(5, 79, 236);
    text-align: center;
    text-decoration: none;
    font-size: medium;
    font-weight: initial;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.boton {
    display: block;
    border: none;
    margin-bottom: 2%;
    padding: 2%;
    width: 350px;
    font-size: medium;
    text-align: center;
    text-decoration: none;
    border-radius: 7px;
    color: #f1f1f1;
    background-color: rgb(70, 25, 194);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.boton:hover {
    background-color: #aaa;
}


/* FOOTER */

footer {
    padding: 15px;
    text-align: left;
    background: #35d0ba;
    margin-top: 20px;
    border-radius: 0.5em;
}


/* RESPONSIVE */

@media screen and (max-width: 800px) {
    .container {
        flex-direction: column;
    }
    .rightcolumn {
        padding-left: 0;
    }
    .box {
        padding-left: 0;
    }
}

@media screen and (max-width: 600px) {
    nav {
        flex-direction: column;
    }
    .login-link {
        margin: 0;
    }
}

@media screen and (max-width: 400px) {
    .box {
        box-shadow: none;
        border: none;
    }
}